
.img-fluid {
    max-width:100%;
    height:auto;
}


a{
    text-align: center;
    text-decoration: none;
    color: gainsboro;
    display:block;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding:10px;
}


body {
    background-color: rgb(238, 235, 235);
}

.container {
   
    overflow: auto;
    min-height: 10em;  
}

h4{
    text-align: center;
}
